.phone-page {
    padding-top: 70px;
    display: flex;
    .phones-container {
        margin: 32px 100px;
        width: calc(100% - 280px);
        display: flex;
        flex-direction: column;
        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 24px;
            h1 {
                width: 50%;
            }
            .searchbar {
                all: unset;
                border-radius: 100px;
                border: 1px solid grey;
                padding: 4px 16px;
                width: 50%;
                height: 32px;
              }
        }
        table {
            border-collapse: collapse;
            tr {
                height: 40px;
                &:nth-child(odd) {
                    background-color: #F2F2F2;
                }
            }
            th {
                background-color: #FCBD42;

            }
            td {
                text-align: center;
                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: auto;
                        border: none;
                        background-color: #6040ED;
                        color: white;
                        height: 32px;
                        width: 32px;
                        border-radius: 50%;
                        cursor: pointer;
                        img {
                            width: 16px;
                            height: 16px;
                        }
    
                    }
                
            }
        }

    }
}