$color-select: #002743;
$color-purple: #6040ED;
$color-yellow: #FCBD42;

.container {
    padding: 70px 20px 0 20px;

}

.first-page {
    display: flex;
    height: 100vh;
    width: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.btn {
    display: block;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    margin-top: 64px;
        color: white;
        padding: 10px 20px;
        width: 50%;
        letter-spacing: 1px;
        font-size: 18px;
        border-radius: 50px;
}



form  {
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: $color-select;
    label {
        display: block;
        margin-bottom: 4px;
    }

    .title {
        font-weight: bold;
    }

    .select-container {
        margin-top: 24px;
        width: 70%;
        font-weight: 300;

        select, input {
            width: 100%;
            border-color: $color-select;
            border-radius: 5px;
            padding: 8px 4px;
            outline: none;
        }

        input {
            border: 1px solid $color-select;
        }
    }
    .next {
        background-color: $color-purple;
        
    }

}

.second-page {
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .submit {
            background-color: $color-purple;
        }
    }

    .right img {
        width: 100%;
    }
}

.third-page {
    display: none;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .left {
        gap: 24px;

        h2 {
            font-size: 44px;
            line-height: 1.2;

            .smartphone {
                color: $color-yellow;
            }
        }

        .price {
            font-size: 44px;
            font-weight: bold;
        }

        .specs {
            font-weight: 300;
            line-height: 1.5;
            text-align: center;
        }
    }
}


.double-select {
    display: grid;
    // justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 16px;
    .sub-container-left {
        display: flex;
        align-items: center;
        gap: 16px;
        .label-condition {
            display: inline;
        }
        select {
            display: block;
            width: 100%;
        }
    }
    .sub-container-right {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 8px;
        .switch {
            display: inline-block;
            position: relative;
            width: 59px;
            height: 29px;
            cursor: pointer;
            overflow: hidden;
          }
          .switch input {
            position: absolute;
            top: -30px;
            top: -30px;
            width: 0;
            height: 0;
          }
          .switch input + span {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: #99b4df;
            border-radius: 20px;
          }
          .switch input + span:before {
            content: "";
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 4px;
            width: 22px;
            height: 22px;
            background: white;
            border-radius: 50%;
            transform: translateY(-50%);
            transition: all .5s;
          }
          .switch input:checked + span {
            background: #346abf;
          }
          .switch input:checked + span:before {
            left: 34px;
          }
    }
}


@media screen and (max-width: 768px) {
    .flex-container {
        .right img {
            display: none;
        }
    }
}