@import "../../App.scss";

.mapPage {
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
}

.mapContainer {
  margin-right: 4vw;
  width: 70vw;
  height: 68vh;
}

.setButton {
  background-color: rgb(225, 225, 225);
}
.info {
  font-size: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  &Hidden {
    display: none;
  }
}

.map-table-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

table {
  width: 94.5%;
  border-collapse: collapse;
  tr {
    height: 40px;
    &:nth-child(odd) {
      background-color: #f2f2f2;
    }
  }
  th {
    background-color: #fcbd42;
  }
  td {
    text-align: center;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      border: none;
      background-color: #6040ed;
      color: white;
      height: 32px;
      width: 32px;
      border-radius: 50%;
      img {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.maptableHidden {
  display: none;
}
