@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.topbar-second {
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom:1px solid gray
}
.connect{
    border-radius:30px ;
    width:200px;
    text-align:center;
    height:40px;
    background-color:#6040ED;
    padding-top:5px;
    cursor:pointer;
    color:white ;
    font-weight:bold;
    border:none ; 
    outline :none ; 
}
     .emmaus-logo{
    width:100px;
      }
      .title-description{
        margin-left:50px;
      }
      .para-title{
        font-size:14px;
        margin-left:50px;
        margin-top:20px;
      }
    .hightlight{
        color:#FCBD42;
    } 
      .title-home{
        margin-left:100px;
        padding-top:100px;
       }

       .home-button{
        margin-top:50px;
        margin-left:100px;
       }



    .home-btn-1{
        border-radius:30px ;
        width:200px;
        text-align:center;
        height:40px;
        background-color:#6040ED;
        padding-top:5px;
        cursor:pointer;
        font-weight:bold;
        color:white ;
        border:none ; 
        outline : none ; 
    }
    .home-btn-2{
        border-radius:30px ;
        width:200px;
        text-align:center;
        height:40px;
        background-color:#FCBD42;
        padding-top:5px;
        cursor:pointer;
        margin-top:30px;
        color:white;
        font-weight:bold;
        border:none ;
        outline : none ; 
    }
    .block-home {
        display:flex;
    }
    .emmaus-hand{
        margin-top:100px;
        margin-left:0
    }
    .dirty-hand{
        position: absolute;
    bottom: 0;
    right: 0;
    width:100vh;
}
    
