.Connect-login{
    margin-left: 600px;
    border: 1Px solid;
    width: 500px;
    margin-top:300px;
    height:300px;
    
}
.form-login{
    margin-left:130px;
    border-radius:10px;
}

input{
    width:250px;
    height:30px;
    margin-right:10px;
}
.connection{
    margin-left:130px;
    margin-top:40px;
    color:#6040ED;
}

label{
    padding-top:30px;
}
.sub-button{
    width:250px;
    border-radius:10px;
    margin-top:30px;
    height:30px;
    background-color:#FCBD42;
    font-weight:bold;
}